<!-- close btn-->
<a href="javascript:;" class="close-btn" routerLink="sign-in">
    <i class="icon close"></i>
</a>
<div class="mc-containter-login">    
  <!-- learn more -->
    <div class="mc-box-learn-more flex space-between top">
            <img src="../../../assets/img/learn-more.jpg" alt="" />
            <i class="icon logo-m"></i>
        <article>
            <div class="title flex start middle">
                <h1>Quartz Energy</h1>
                <h2> | Offset Operator Frac Schedule</h2>
            </div>
            <div class="blue">
                The seamless sharing of operational timelines and locations is paramount to keeping all parties safe and secure.
            </div>
            <p>Offset Hydraulic Frac identification and well preparation is an ongoing problem that we are facing in the basin. As Quartz Energy acreage offsets many different operators (both at surface and underground), the ability to share schedules and information is a key role for not only maintaining a high level of safety, but to reduce economic waste.  For example, if one operator is performing a hydraulic fracture at a well location near an existing well, there is a chance that the pumping operation will negatively impact the other operators producing well (this takes place deep underground).  It’s important for all parties to know when and where the other parties are performing hydraulic fracturing in an area to ensure they take the necessary & timely precautions. </p>
        </article>
    </div>
</div>
