@import '../../../assets/sass/_colors.scss';

.add-contact-container {
    background-color: $color-bg;

    .add-contact-bar {
        width: 260px;
        min-height: 100vh;
        -moz-box-shadow: -2px 0px 2px #eeeeee;
        -webkit-box-shadow: -2px 0px 2px #eeeeee;
        box-shadow: -2px 0px 2px #eeeeee;
        padding: 25px 20px;

        .add-contact-title {
            margin-bottom: 30px;

            .icon {
                margin-right: 10px;
            }
        }
        .upload-box-group{
            margin-bottom:20px;
        }
        .upload-box {
            width: 100%;
            height: 150px;
            border: dotted 2px #3399cc;
            border-radius: 5px;
            position: relative;

            i.icon {
                margin: 0 auto;
            }

            .txt {
                margin-top: 20px;
                font-size: 14px;
                text-align: center;
                letter-spacing: normal;

                .txt-upload {
                    position: relative;

                    .blue {
                        color: $color-font-blue;
                        text-decoration: underline;

                        &:hover, &:focus {
                            cursor: pointer;
                        }
                    }

                    input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        color: transparent;
                        border-color: transparent;
                        background-color: transparent;
                        opacity: 0;
                        height: 50px;
                        width: 100px;

                        &:hover, &:focus {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .upload-box-2 {
            width: 100%;
            height: 150px;
            border: dotted 2px #3399cc;
            border-radius: 5px;
            position: relative;

            i.icon {
                position: absolute;
                top: 15px;
                right: 15px;
            }

            .progress-box {
                margin: auto;

                .title {
                    color: $color-font-title;
                    font-size: 14px;
                    width: 200px;
                    display: block;
                    word-wrap:break-word;
                }

                .progress {
                    margin: 10px auto 10px;
                    border-radius: 3px;
                    background-color: #edf0f2;
                    height: 6px;
                    width: 100%;

                    .progress-bar {
                        background-color: #00a963;
                        border-radius: 3px;
                    }
                }

                .upload-info {
                    padding: 0 10px;
                    width: 200px;
                }
            }
        }

        .group {
            margin-bottom: 15px;

            h3 {
                margin-bottom: 5px;
                color: $color-font-title;
            }

            input {
                padding: 0 12px;
                color: $color-font;
            }

            .d-inline-block {
                width: 100%;

                .btn-select-duration {
                    width: 100%;
                    margin: 0;
                    padding: 0 5px 0 12px;
                    height: 30px;
                    border-radius: 15px;
                    background-color: $color-bg;
                    box-shadow: none;
                    border: 1px solid #cccccc;

                    span {
                        color: $color-font;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        -o-text-overflow: ellipsis;
                        overflow: hidden;
                        text-align: left;
                        width: calc(100% - 40px);
                    }
                }
            }



        }

        .btns {
            margin-top: 20px;
        }
    }
}
