$color-bg: #fff;
$color-bg-grey: #f3f4f6;
$color-bg-header: #fff;
$color-bg-side: #44495c;
$color-bg-side-active: #2f3340;
$color-bg-link-active: #006bd5;
$color-bg-table-header: #e4e7ee;
$color-btn: #666666;
$color-bg-btn-blue:#006bd5;

$color-font-white: #ffffff;
$color-font-grey: #999999;
$color-font: #666666;
$color-font-title: #333333;
$color-font-blue:#0066cc;

$color-green:#14afa4;
$color-orange:#ff6600;
$color-yellow:#ffae00;
$color-purple:#8197f2;
$color-blue:#6ec2f7;
